.box{
    background-color: aqua;
    /* transform: translate(100px,200px); */
    /* transform: rotate(-40deg); */
    /* transform: scale(2,2);
    margin: 200px;
    transform: skew(950deg); */
    transform: matrix(1, 2, -1, 1, 80, 80);
}